= render "groups/sidebar"
.Contents
  .Contents__top
    .Contents__top__groupname
      %h2= @group.name
      %p
        Member :
        - @group.users.each do |user|
          %span
            =user.name
      = link_to "Edit", edit_group_path(params[:group_id])
  .Contents__messages
    = render @messages

  .Contents__sendmessage
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: "Contents__sendmessage--textbox", placeholder: "type a message"
      = f.submit "Send", class: "Contents__sendmessage--sendbtn"
      %label.label.Contents__sendmessage--image
        = fa_icon 'picture-o',  class: 'icon'
        = f.file_field :image, class: "Contents__sendmessage--image__upload-icon"

